--1.Tạo DB.
CREATE DATABASE LUU_CHU_DON_HANG;

-- 2 Tạo table.
CREATE TABLE KHACH_HANG
(
    ID_KHACH_HANG  INT PRIMARY KEY NOT NULL,
    TEN_KHACH_HANG NVARCHAR(50)    NOT NULL,
    DIA_CHI        NVARCHAR(50)    NOT NULL,
    DIEN_THOAI     INT             NOT NULL,
    NGAY_DAT_HANG  DATE            NOT NULL,

);

CREATE TABLE DON_HANG
(
    MA_DON_HANG   INT  NOT NULL PRIMARY KEY,
    NGAY_DAT      DATE NOT NULL,
    TONG_TIEN     INT  NOT NULL,
    ID_KHACH_HANG INT  NOT NULL FOREIGN KEY REFERENCES KHACH_HANG (ID_KHACH_HANG),
);
CREATE TABLE MAT_HANG
(
    MA_MAT_HANG    INT           NOT NULL PRIMARY KEY,
    TEN_MAT_HANG   NVARCHAR(200) NOT NULL,
    MO_TA_MAT_HANG NVARCHAR(200) NOT NULL,
    DON_VI         NVARCHAR(20)  NOT NULL,
    GIA            INT           NOT NULL,
    SO_LUONG       INT           NOT NULL,
    THANH_TIEN     INT           NOT NULL,
    MA_DON_HANG    INT           NOT NULL FOREIGN KEY REFERENCES DON_HANG (MA_DON_HANG),

);

CREATE TABLE CUA_HANG
(
    ID          INT      NOT NULL PRIMARY KEY,
    DIEN_THOAI  INT      NOT NULL,
    DIA_CHI     NVARCHAR (50) NOT NULL,
    MA_MAT_HANG INT      NOT NULL FOREIGN KEY REFERENCES MAT_HANG (MA_MAT_HANG),
    MA_DON_HANG INT      NOT NULL FOREIGN KEY REFERENCES DON_HANG (MA_DON_HANG)

);
SELECT *
FROM CUA_HANG;

INSERT INTO CUA_HANG (ID,DIEN_THOAI,DIA_CHI,MA_MAT_HANG,MA_DON_HANG) VALUES (1,91312433,N'111 Nguyễn Trãi, Thanh Xuân, Hà Nội',1,123);
INSERT INTO CUA_HANG (ID,DIEN_THOAI,DIA_CHI,MA_MAT_HANG,MA_DON_HANG) VALUES (2,91312434,N'111 Nguyễn Trãi, Thanh Xuân, Hà Nội',2,122);
INSERT INTO CUA_HANG (ID,DIEN_THOAI,DIA_CHI,MA_MAT_HANG,MA_DON_HANG) VALUES (3,91312435,N'111 Nguyễn Trãi, Thanh Xuân, Hà Nội',3,111);



CREATE TABLE MIDDLE
(
    MA_MAT_HANG INT FOREIGN KEY REFERENCES MAT_HANG (MA_MAT_HANG),
    MA_DON_HANG INT FOREIGN KEY REFERENCES DON_HANG (MA_DON_HANG),
);


-- 3.Viết các câu lệnh để thêm dữ liệu vào các bảng
--Cho vào hai dữ liệu tưng tự như bảng đề bài trên
-- insert khac_hang.
INSERT INTO KHACH_HANG(ID_KHACH_HANG, TEN_KHACH_HANG, DIA_CHI, DIEN_THOAI, NGAY_DAT_HANG)
VALUES (01, N'Nguyễn Văn An', N'111 Nguyễn Trãi, Thanh Xuân, Hà Nội', 987654321, '2011-11-02');
INSERT INTO KHACH_HANG(ID_KHACH_HANG, TEN_KHACH_HANG, DIA_CHI, DIEN_THOAI, NGAY_DAT_HANG)
VALUES (02, N'Nguyễn Văn Luyện', N'112 Nguyễn Trãi, Hà Đông, Hà Nội', 987654322, '2011-12-03');
INSERT INTO KHACH_HANG(ID_KHACH_HANG, TEN_KHACH_HANG, DIA_CHI, DIEN_THOAI, NGAY_DAT_HANG)
VALUES (03, N'Nguyễn An Văn', N'113 Nguyễn Trãi, Hà Đông, Hà Nội', 987654323, '2011-12-04');
SELECT *
FROM KHACH_HANG;

--insert don_hang.
INSERT INTO DON_HANG(MA_DON_HANG, NGAY_DAT, TONG_TIEN, ID_KHACH_HANG)
VALUES (123, '2011-11-19', 1500, 01);
INSERT INTO DON_HANG(MA_DON_HANG, NGAY_DAT, TONG_TIEN, ID_KHACH_HANG)
VALUES (122, '2011-12-20', 1500, 02);
INSERT INTO DON_HANG(MA_DON_HANG, NGAY_DAT, TONG_TIEN, ID_KHACH_HANG)
VALUES (111, '2011-10-11', 1500, 03);

SELECT *
FROM DON_HANG;

--insert mat_hang.
INSERT INTO MAT_HANG(MA_MAT_HANG, TEN_MAT_HANG, MO_TA_MAT_HANG, DON_VI, GIA, SO_LUONG, THANH_TIEN, MA_DON_HANG)
VALUES (1, N'Máy Tính
T450', N'Máy nhập mới', N'Chiếc', 1000, 1, 1000, 123);
INSERT INTO MAT_HANG(MA_MAT_HANG, TEN_MAT_HANG, MO_TA_MAT_HANG, DON_VI, GIA, SO_LUONG, THANH_TIEN, MA_DON_HANG)
VALUES (2, N'Điện Thoại
Nokia5670', N'Điện thoại đang hot', N'Chiếc', 200, 2, 400, 122);
INSERT INTO MAT_HANG(MA_MAT_HANG, TEN_MAT_HANG, MO_TA_MAT_HANG, DON_VI, GIA, SO_LUONG, THANH_TIEN, MA_DON_HANG)
VALUES (3, N'Máy In Samsung 450', N'Máy in đang ế', N'Chiếc', 100, 1, 100, 111);

SELECT *
FROM MAT_HANG;

-- 4,1.Liệt kê danh sách khách hàng đã mua hàng ở cửa hàng.
SELECT *
FROM KHACH_HANG
WHERE ID_KHACH_HANG IN (SELECT ID_KHACH_HANG FROM DON_HANG);

-- 4.2.LIỆT KÊ danh sách MĂT HÀNG của CỬA HÀNG.
SELECT * FROM MAT_HANG WHERE MA_MAT_HANG IN (SELECT MA_MAT_HANG FROM CUA_HANG);

-- 4.3.Liệt kê danh sách các đơn đặt hàng của cửa hàng.
SELECT * FROM DON_HANG WHERE MA_DON_HANG IN (SELECT MA_DON_HANG FROM DON_HANG)

--5.1.Liệt kê danh sách khách hàng theo thứ thự alphabet.
SELECT * FROM KHACH_HANG ORDER BY TEN_KHACH_HANG ASC;
--5.2.Liệt kê danh sách sản phẩm của cửa hàng theo thứ thự giá giảm dần.
SELECT * FROM MAT_HANG ORDER BY TEN_MAT_HANG DESC;
--5.3.Liệt kê các sản phẩm mà khách hàng Nguyễn Văn An đã mua.
SELECT * FROM KHACH_HANG WHERE TEN_KHACH_HANG LIKE ('%AN%');
--6.1.Số khách hàng đã mua ở cửa hàng.
SELECT * FROM KHACH_HANG WHERE ID_KHACH_HANG IN (SELECT ID_KHACH_HANG FROM CUA_HANG);
--6.2.Số mặt hàng mà cửa hàng bán.
SELECT  * FROM MAT_HANG WHERE MA_MAT_HANG IN (SELECT  MA_MAT_HANG FROM CUA_HANG);
--6.3.Tổng tiền của từng đơn hàng.
SELECT * FROM DON_HANG WHERE TONG_TIEN > 400;




